# Numbers

In [3]:
1 + 2

3

## Strings

In [5]:
my_string = 'Hello World!'

In [7]:
print(my_string)

Hello World!

In [9]:
my_string

'Hello World!'

In [11]:
my_string[0]

'H'

We see that python count from 0 and not 1 as R. Hence we get the first element by selecting 0

In [17]:
print(my_string[0],my_string[6])
my_string[0] + my_string[6]

H W

'HW'

In [18]:
temp = my_string[0] + my_string[6]
temp

'HW'

## Lists

In [20]:
players = [1,2,4,8,12,14,15]
players

[1, 2, 4, 8, 12, 14, 15]

In [22]:
players[0] #To get the first

1

In [23]:
players[0:3] #To get the first three elements

[1, 2, 4]

In [27]:
players[1:6:2] #This will give us every second player

[2, 8, 14]

## Tuple

A tuple is a list that cannot be changed. So we can define a constant

In [29]:
my_tuple = (10,12,14)
my_tuple

(10, 12, 14)

In [30]:
my_tuple[0] = 11

TypeError: 'tuple' object does not support item assignment

We see that this returns an error. With a normal list, you could do this manauvre

Where the tuple will not allow this specific task

## Disctionaries

In [33]:
favorites = {
    'fruit':'apple',
    'number':'7', #Notice that 7 is written as a string
    'planet':'pluto'}

In [34]:
favorites

{'fruit': 'apple', 'number': '7', 'planet': 'pluto'}

In [35]:
favorites = {
    'fruit':'apple',
    'number':7, #Notice that 7 is written as a number
    'planet':'pluto'}

In [37]:
favorites['fruit']

'apple'

Now we see that by typing fruit we will return 'apple'

In [47]:
type(favorites['number'])

int

In [48]:
favorites.keys()

dict_keys(['fruit', 'number', 'planet'])

In [51]:
favorites.values()

dict_values(['apple', 7, 'pluto'])

In [52]:
favorites.items() #We see that we get the pairs. And the objects within is a tuple

dict_items([('fruit', 'apple'), ('number', 7), ('planet', 'pluto')])

## Loops

In [60]:
for key, value in favorites.items():
    print(key,value)
    print('Hey')

fruit apple
Hey
number 7
Hey
planet pluto
Hey

## If statements

In [64]:
for key, value in favorites.items():
    if(key == 'planet'): #We need the colon, it is equivilent of {} as in R
            print(key) #This is executed when the key = planet
            print(f'The planet is {value}') #By using 'f' before the string, we can call the dictionay elements

planet
The planet is pluto

In [66]:
favorites['planet'] = 'mars'

In [75]:
i = 0
while i < 6:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [83]:
whos #Getting a list of all objects that has been defined

Variable   Type    Data/Info
----------------------------
players    list    n=7

In [84]:
def multiply(a,b):
    return a * b

In [87]:
multiply(3,2)

6